/* 后台页面 */
* {

	margin: 0;
	font-family: "楷体";
}

.content-top {
	
	width: 100%;
	height: 70px;
	background: #34495E;
	padding-top: 70px;
}

.content-center {
	
	width: 100%;
	min-height: 700px;
}

.content-left {
	
	background: #34495E;
	width: 16%;
	height: 700px;
	float: left;
}
.content-right {
	
	width: 84%;
	height: 600px;
	float: left;
	padding-top: 20px;
	overflow: auto;
}
.content-bottom {
	
	height: 30px;
	width: 100%;
	background: #34495E;
}

.backstage-title {
	
	width: 270px;
	height: 30px;
	font-family: "楷体";
	font-size: 1.8em;
	margin: 0 auto;
	color: #fff;
}

/* 后台导航条 */
.nav-bar {
	
	width: 100%;
	text-align: center;
	line-height: 50px;
	height: 50px;
	border-bottom: 1px solid #fff;
	margin: 0 auto;
}

.nav-bar a {
	
	color: #fff;
	font-size: 1.2em;
	font-family: "楷体";
	text-decoration: none;
}

.content-left:first-child {
	
	border-top: 1px solid #fff;
}

/* 后台首页显示当前用户 */
.b-current-user {
	
	width: 150px;
	height: 30px;
	float: left;
	color: #fff;
	padding-top: 30px;
	padding-left: 40px;
}

/* 后台用户管理子页面 */
.b-user-manage {
	
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.b-user-manage .choise-search {
	
	width: 100%;
	height: 50px;
}

.choise-search-classify {
	
	width: 200px;
	height: 50px;
	line-height: 50px;
	float: left;
	color: #000;
	font-size: 1em;
	font-family: "楷体";
}

.btn-search {
	
	width: 75px;
	height: 25px;
	color: #fff;
	background: #05CE3E;
	border-radius: 5px;
	line-height: 25px;
	text-align:center;
	float: left;
	margin-top: 14px;
	cursor: pointer;
	border: 0;
}

.choise-result {
	
	width: 100%;
	padding: 10px;
	float: left;
	text-align: center;
}

.user-result-tab {
	
	width: 100%;
}

.user-result-tab tr {
	
	height: 40px;
}

.user-result-tab tr td {
	
	text-align: center;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #C6C6C6;
}

.user-result-tab tr td a {
	
	color: #551A8B;
	text-decoration: none;
}

.user-result-tab #user_name {width: 16.6%;}
.user-result-tab #user_sex {width: 16.6%;}
.user-result-tab #user_age {width: 10%;}
.user-result-tab #user_time {width: 16.6%;}
.user-result-tab #user_classify {wdith: 16.6%;}
.user-result-tab #user_operate {wdith: 23.2%;}

.user-result-tab:first-child tr td {
	
	border-top: 1px solid #C6C6C6;
}

/* 学生学籍信息 */
.user-detail-title {
	
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1.5em;
	font-family: "楷体";
	color: #000;
}

.user-detail-content {
	
	width: 75%;
	margin: 0 auto;
	font-size: 1.2em;
	font-family: "楷体";
	color: #000;
	padding-left: 50px;
}

.user-detail-content table tr td {
	
	height: 40px;
	line-height: 40px;
}

/* 成功和错误信息 */
.error-message {
  color: red;
  width: 90%;
  height: 25px;
}
.success-message {
  color: green;
  width: 90%;
  height: 25px;
}

/* 按钮 */
.btn {
	
	width: 75px;
	height: 25px;
	color: #fff;
	background: #05CE3E;
	border-radius: 5px;
	line-height: 25px;
	text-align: center;
	border: 0;
}

.btn-stu-edit {
	
	width: 75px;
	height: 25px;
	float: left;
	border: 0;
}

/* 设置通用的右侧容器标题 */
.common-right-title {
	
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1.5em;
	font-family: "楷体";
	color: #000;
}

/* 留言管理页面 */
.user-result-tab #msg_user_name {width: 17%;}
.user-result-tab #msg_user_time {width: 17%;}
.user-result-tab #msg_user_classify {width: 17%;}
.user-result-tab #msg_user_content {width: 30%;}
.user-result-tab #msg_user_operate {width: 17%;}
#msg_content_limit {
	/* 设置过长文本进行隐藏显示 */
	height: 40px;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
  	-webkit-text-overflow:ellipsis;
  	-moz-text-overflow:ellipsis;
  	margin: 0 auto;
}

/* 后台留言详情页面 */
#msg_detail_td_1 {width: 15%;}
#msg_detail_td_2 {width: 15%;}
#msg_detail_td_3 {width: 15%;}
#msg_detail_td_4 {width: 15%;}

.btn-stu-edit a {
	
	text-decoration: none;
	color: #fff;
}

.add-score-btn a {
	
	text-decoration: none;
	color: #fff;
}

#calcel_deit_score {float: left; margin-left: 20px;}
#calcel_deit_score a {color: #fff;text-decoration: none;font-size: 0.8em;}

#score_id {width: 13.5%;}
#score_id_1 {width: 8%;}
#score_id_2 {width: 18%;}
#score_id_3 {width: 7%;}

/* 新闻公告页面 */
.news-notice-rules-select {
	
	height: 35px;
	width: 380px;
	margin: 0 auto;
}

.b-news,.b-notice,.b-rules {
	width: 100px;
	height: 32px;
	border-radius: 10px;
	border: 1px solid #05CE3E;
	text-align: center;
	font-size: 1.2em;
	font-family: "楷体";
	line-height: 32px;
	float: left;
	cursor: pointer;
}

.b-notice,.b-rules {margin-left: 30px;}

.b-news-content,.b-notice-content,.b-rules-content {
	
	width: 100%;
	height: auto;
	margin: 40px auto 0;
	
}

.b-news-content-tab {
	
	width: 95%;
	margin: 0 auto;
}

.b-news-content-tab td {
	
	text-align: center;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #C6C6C6;
}

.b-news-content-tab td a {text-decoration: none;}

#article_title_limit {
	height: 40px;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
  	-webkit-text-overflow:ellipsis;
  	-moz-text-overflow:ellipsis;
  	margin: 0 auto;
}
#article_title {height: 40px;border-top: 1px solid #C6C6C6;width: 15%}
#article_author {height: 40px;border-top: 1px solid #C6C6C6; width: 15%}
#article_time {height: 40px;border-top: 1px solid #C6C6C6; width: 20%}
#article_oper {height: 40px;border-top: 1px solid #C6C6C6; width: 20%}
#article_content {height: 40px;width: 30%;border-top: 1px solid #C6C6C6;}
#article_content_limit {
	/* 设置过长文本进行隐藏显示 */
	height: 40px;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
  	-webkit-text-overflow:ellipsis;
  	-moz-text-overflow:ellipsis;
  	margin: 0 auto;
}

.common-news-title {
	
	width: 90%;
	height: 50px;
	font-size: 1.5em;
	font-family: "楷体";
	margin: 0 auto;
}

.add-common-news {
	
	width: 100px;
	height: 25px;
	border-radius: 15px;
	border: 1px solid #05CE3E;
	text-align: center;
	font-size: 0.7em;
	font-family: "楷体";
	line-height: 25px;
	float: left;
	cursor: pointer;
	margin-top: 15px;
}

.add-common-news a {text-decoration: none;}

.common-news-word {
	
	width: 230px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: 34%;
}

.news-bg-btn {background: #05CE3E;color: #fff;border: 0;}
.news-content-unvisible {display: none;}

/* 文章修改页面 */
.edit_common_info table input {width: 300px;}
.edit_common_info textarea {width: 500px;}

/* 教学资料-管理 */
#res_title_limit {
	height: 40px;
	width: 100px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	margin: 0 auto;
}

#res_desc_limit {
	height: 40px;
	width: 150px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	margin: 0 auto;
}

.check-apply {
	
	width: 200px;
	height: 38px;
	margin: 0 auto;
	text-align: center;
	ling-height: 38px;
	color: #C6C6C6;
}

.refuse-apply,.pass-apply {
	
	width: 65px;
	height: 25px;
	margin: 6px 0 6px 25px;
	border: 1px solid #05CE3E;
	border-radius: 5px;
	float: left;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	color: #000;
}








