.wraper .nav ul,li{
	margin: 0; 
	padding: 0;
	list-style:none;
}

/* 左右浮动 */
.fl{ float:left;}
.fr{ float:right}

/* 正文 */
.wraper{width:100%; background: #600B6D;}
.nav{position:relative; width: 1000px; margin: 0 auto; height:50px; background:#600B6D; overflow:hidden}
.nav-item{ position:relative; float:left; width: 125px; height:50px; line-height:50px; text-align:center; z-index:1}
.nav-item a{font-size: 1.1em; font-family: "楷体";display:block; height:50px; color:#fff; }
.nav-item a:hover{ color:#fff}
.move-bg{ display:none;position:absolute;left:0;top:0; width: 125px; height:50px; background:#854F95; z-index:0}




